.reverse {
  flex-direction: row-reverse;
}
.container-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9cafb7;
}
@media screen and (max-width: 900px) {
  .container-card {
    flex-direction: column;
  }
}

.image {
  flex: 1;
  display: flex;
}
.text {
  flex: 1;
  background-color: #9cafb7;
  padding: 20px;
  text-align: justify;
  align-items: center;
  justify-content: center;
}
.text h1 {
  text-align: center;
  padding: 40px;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 500px;
}
