

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px ;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
.header{
    grid-area: header;
    background-color: red;
}
.main{
    grid-area: main;
    background-color: green;
}
.footer{
    grid-area: footer;
    background-color: azure;
}